.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
}

a {
    transition: transform 0.3s;
}

a:hover {
    border-bottom: 1px solid white;
}

#navbarNav {
    border: soli white;
    width: 70%;
}

.carousel-item img {
    object-fit: cover;
    height: 60vh;
}

.card {
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

#service h2 {
    text-decoration: underline;
}

.about-section {
    background-color: #f8f9fa;
    padding: 40px 0;
    border-radius: 10px;
}

.service-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

footer {
    margin-top: 50px;
}
